/* style.css */

/* Switch container */
.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Switch label */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Switch input */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider (the background of the switch) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

/* Indicator for the switch status */
.status-indicator {
    width: 16px;
    height: 16px;
    background-color: #999;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Indicator for the switch when it's on */
.on .status-indicator {
    background-color: #5cb85c;
}

/* Styling for the switch label (slider) when it's on */
.slider.round::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
